@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 5em;
    margin: auto;
}


/*style for nav*/

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    font-family: montserrat, sans-serif;
    padding: 1.5rem 0;
    background: #000000;
    background-size: cover;
}

.navbar img {
    width: 70%;
}

.navbar .logo,
.navbar .logo1 {
    position: relative;
    z-index: 999;
    width: 5.5em;
}

.navbar .logo img {
    width: 100%;
    margin-top: -1.5em;
    position: absolute;
}

.navbar .logo1 {
    position: absolute;
    margin-left: 5em;
    width: 8em;
}

.navbar.sticky {
    position: fixed;
    z-index: 1;
    width: 100%;
    font-family: montserrat, sans-serif;
    padding: 1.5rem 0;
    background: black;
    background-size: cover;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #faf4fa;
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 2em;
    transition: all 0.5s linear;
}

.navbar .menu li a:hover {
    color: rgb(247, 252, 251);
}


/* menu button*/

.menu-btn i.sticky {
    background: linear-gradient(60deg, #f4f4f4, #a405b3, #fd03f1);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.menu-btn {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 1.9em;
    top: 0;
    bottom: 0;
}

.menu-btn i {
    background: linear-gradient(60deg, #160224, #8c00e9, #54177c);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.menu-btn i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.menu-btn i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.menu-btn i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.menu-btn.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.menu-btn.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.menu-btn.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


/*Banner home*/

.home {
    display: flex;
    background: url(vibpic/lineandmotor.jpg) no-repeat center;
    height: 120vh;
    color: #faf4f4;
    max-height: 45rem;
    background-size: cover;
    background-attachment: fixed;
    font-family: montserrat, sans-serif;
}

.home .max-width {
    margin: auto 12.5em 8em 10em;
    justify-content: center;
}

.home .home-content .text-1 {
    font-size: 1.2em;
    font-weight: 800;
    transition-delay: 0.3s;
    transition: all 0.9s ease;
}

.home .home-content a {
    display: inline-block;
    color: #faf4f4;
    font-size: .9em;
    font-weight: 600;
    margin-top: 1.8em;
    border-radius: 10em;
    transition: all 0.5s linear;
}
.card .box .text {
    transition-delay: 2s;
    transition: ease-in-out 3s;
}

#myBtn {
    color: green;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out 3s;
}
#more1 {
    display: none;
    transition-delay: 2s;
    transition: ease-in-out 3s;

}

/* style for about me section*/

section {
    padding: 3rem 0;
}

.about {
    font-family: montserrat, sans-serif;
    /* background:url(vibpic/Template.png) no-repeat centerbackground-size: cover;*/
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(60deg, #000000, #000000, #000000);
    color: #ffffff;
}

.about .title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1.5em;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img.sticky {
    clip-path: circle(50%);
    transform: rotate(360deg);
    transition-delay: 0.3s;
    transition: all 0.9s ease;
    visibility: visible;
    background-image: linear-gradient(60deg, #faf7fc, #f8f5fa, #fbfafc);
}

.about .about-content .left img {
    clip-path: circle(0%);
    height: 24rem;
    visibility: hidden;
    width: 24rem;
    object-fit: cover;
}

.about .about-content .right.sticky {
    visibility: visible;
    letter-spacing: .1em;
    transition: all 0.5s linear;
    position: relative;
}

.about .about-content .right {
    width: 55%;
    visibility: hidden;
}

.about .about-content .right .read a {
    color: #f09206;
    font-size: .8em;
}

.about .about-content .right .read a:hover {
    color: #7ad109;
    transition: ease 0.7s;
}

.about .about-content .right .more {
    display: none;
    margin: 1em 0;
}

.about .about-content .right .more.active {
    display: block;
}

.about .about-content .right .text {
    margin-bottom: .5em;
}

.about .about-content .right p {
    font-size: 1em;
    text-align: left;
    margin: 1em 0;
}


/*style for expertise*/

.service {
    color: rgb(7, 7, 7);
    /*background: rgba(40, 111, 202, 0.709);*/
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0.459), rgba(2, 5, 43, 0.486)), url(vibpic/LaptopCode.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.service .title {
    font-size: 1em;
    visibility: hidden;
    color: #ffffff;
}

.service .title.sticky {
    visibility: visible;
    font-family: montserrat, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1.5em;
    color: white;
    opacity: 1;
    transition: all 0.3s linear;
}

.service .service-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.service .service-content .card {
    padding: 20px 25px;
    width: calc(33% - 20px);
    border-radius: .5rem;
    margin: 1em 0;
    text-align: center;
    visibility: hidden;
}

.service .service-content .card.sticky {
    transition: all 0.5s linear;
    transition-delay: 0.4s;
    background: #f8f8f6cc;
    visibility: visible;
}

.service .service-content .card:hover {
    background: rgb(252, 251, 253);
    transform: scale(1.019);
}

.service .service-content .card img {
    height: 60px;
    width: 60px;
}

.service .service-content .text {
    font-size: 2rem;
    font-family: montserrat, sans-serif;
    margin: 1rem 0;
    font-weight: 600;
}

.service .service-content p {
    font-family: montserrat, sans-serif;
    font-size: 1rem;
}


/*skills section*/

.skills {
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(60deg, #070707, #030303, #050505);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(248, 245, 245);
    min-height: 31.25rem;
    max-height: 45rem;
    height: auto;
}

.skills .title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1.5em;
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column {
    width: calc(50% - 1.1rem);
}

.skills .skills-content .left .text {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.skills .skills-content .left p {
    text-align: left;
    font-size: 1em;
    font-weight: 100;
}

.skills .skills-content a {
    display: inline-block;
    color: #fafafa;
    font-size: .8em;
    padding: .5em;
    margin: 2em 0;
    border-radius: 1rem;
    transition: all 0.5s linear;
    transition-delay: 0.6s;
}

.skills .skills-content a:hover {
    color: rgb(5, 5, 5);
}

.skills-content .right .php::before {
    width: 40%;
}

.skills-content .right .sql::before {
    width: 30%;
}

/*for work */

.work {
    font-family: montserrat, sans-serif;
    background: linear-gradient(to bottom, rgba(2, 42, 85, 0.459), rgba(2, 5, 43, 0.486)), url(vibpic/idea.jpg) no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    color: #f7f7f7;
    text-align: center;
    width: auto;
}

.work .title {
    text-align: center;
    font-size: 2rem;
}

.work p {
    font-size: 1.5rem;
}

.work .workContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.work .workContent .frame {
    padding: 20px 25px;
    width: calc(35% - 20px);
    border-radius: .5rem;
    margin: 1em 0;
    text-align: center;
    transition: all 0.3s linear;
    transition-delay: 0.1s;
}

.work .workContent .frame:hover {
    transform: scale(1.1);
}

.work .workContent .frame .images:hover {
    box-shadow: 5px 5px 5px #6405a8;
}

.work .workContent .frame .images {
    width: 100%;
    border-radius: .5rem;
}


/*contact  styling*/

.contact {
    display: flex;
    background: url(vibpic/darkforest.jpg) no-repeat left;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: montserrat, sans-serif;
}

.contact .title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1.5em;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - .5rem);
}

.contact .contact-content .column .text {
    font-size: 2rem;
    color: #faf4f4;
    margin: 1rem 0;
    font-weight: 600;
}

.contact .contact-content .left p {
    font-size: 1em;
    text-align: left;
}

.contact .contact-content .rows {
    display: flex;
    height: 4rem;
    align-items: center;
}

.contact .contact-content .rows .info {
    margin-left: 1rem;
}

/*Fb icon */
.contact .contact-content .left img {
    height: 1.5rem;
    width: 1.5rem;
}

.contact .contact-content .info .head {
    color: wheat;
    font-weight: 600;
    padding: .1rem 0;
}

.contact .contact-content .info .sub-title {
    font-weight: 600;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 2.3rem;
    width: 100%;
    margin-bottom: .5rem;
}

.contact .right form .textarea {
    height: 8rem;
    width: 100%;
}

.contact .right form .name {
    margin-right: .5rem;
}

.contact .right form .email {
    margin-left: .1rem;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: .1em solid rgb(128, 128, 180);
    border-radius: .3rem;
    outline: none;
    padding: 0 .5rem;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: red;
}

.contact .right form .textarea textarea {
    padding-top: 1rem;
    resize: none;
}

.contact .right form .button {
    height: 2.8;
    width: 10em;
}

.contact .right form .button button {
    color: rgb(8, 8, 8);
    background: rgba(247, 244, 244, 0.925);
    font-size: 1em;
    font-weight: 600;
    border-radius: .5em;
    cursor: pointer;
    padding: 0.3em;
    border: .0001em solid#0a0a0a;
}

.contact .right form .button button:hover {
    color: rgb(5, 5, 5);
    background: #f70303;
}


/* footer styling*/

footer {
    font-family: montserrat, sans-serif;
    font-size: .8em;
    color: #f8f4f8;
    background: #000000;
    background-size: cover;
    text-align: center;
    padding: 3em 8em;
}

footer span a {
    color: rgb(255, 254, 253);
}

footer span a:hover {
    text-decoration: underline;
}


/* responsive Media Query */

@media (max-width: 1920px) {
    .home .max-width {
        margin-left: 0px;
    }
    .menu-btn {
        display: none;
        z-index: 999;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: none;
        z-index: 999;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        height: 80vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        opacity: 80%;
        text-align: center;
        padding-top: 6em;
        transition: all 0.4s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 1.5rem;
        font-size: 1.8;
    }
    .navbar .menu li a:hover {
        transform: scale(1.3);
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 1rem;
    }
    .about.about-content .right {
        flex: 100%;
    }
    .service .service-content .card {
        width: calc(50% - 1em);
        margin-bottom: 1.8;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 1.8;
    }
    .work .workContent .frame {
        width: 50%;
        margin: 0 auto 1em;
    }
    .work p {
        font-size: 1.5em;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 2.8;
    }
    .service .service-content .card {
        width: 100%;
    }
    
    .skills{
    height: auto;
    box-sizing: border-box;
    }
    
    .about .about-content .left img {
        width: 250px;
        height: 250px;
    }
    .work .workContent .frame {
        width: 100%;
    }
    .work p {
        font-size: 1.4em;
    }
}

@media (max-width:500px) {
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .home .home-content a {
        font-size: .7em;
    }
    .home,
    .about,
    .service,
    .skills,
    .work,
    .contact {
        -webkit-background-size: cover;
        background-attachment: scroll;
        background-size: cover;
    }
}

@media (max-width:375px) {
    .home-content .text-1 {
        font-size: 1em;
        font-weight: 800;
    }
    .home,
    .about,
    .service,
    .skills,
    .work,
    .contact {
        -webkit-background-size: cover;
        background-attachment: scroll;
        background-size: cover;
    }
    .home .home-content a {
        font-size: .5em;
    }
}
